/* [...all mobile styles here <= max-width: 700px...] */
/* [...tablets or desktops styles here > min-width: 700px...] */
@media all and (min-width: 700px) {
    .Social-Box {
        background-color: black;
        -ms-opacity: 0.8;
        opacity: 0.8;
        width: 12%;
        height: 50%;
        position: absolute;
        top: 30%;
        left: 33%;
        border: 2px solid;
        border-color: black;
        -ms-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 10px black;
        -ms-box-shadow: 0 0 10px black;
        box-shadow: 0 0 10px black;
    }

    .Codeacademy {
        display: inline-block;
        position: absolute;
        top: 78%;
        left: 47%;
        background-image: url("../../images/Social/Codeacademy.png");
        width: 21%;
        height: 16%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .Facebook {
        display: inline-block;
        position: absolute;
        top: 23%;
        left: 10%;
        background-image: url("../../images/Social/facebook.png");
        width: 17%;
        height: 14%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .Twitter {
        display: inline-block;
        position: absolute;
        top: 55%;
        left: 15%;
        background-image: url("../../images/Social/Twitter.png");
        width: 31%;
        height: 25%;
        background-repeat: no-repeat;
        background-position: center;
    }

    #Twitter-Box {
        background-color: black;
        -ms-opacity: 0.8;
        opacity: 0.8;
        width: 40%;
        height: 34%;
        position: absolute;
        top: 25%;
        left: 10%;
        border: 2px solid;
        border-color: black;
        -ms-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 10px black;
        -ms-box-shadow: 0 0 10px black;
        box-shadow: 0 0 10px black;
        overflow: hidden;
    }

    .Instagram {
        display: inline-block;
        position: absolute;
        top: 34%;
        left: 47%;
        background-image: url("../../images/Social/instagram.png");
        width: 43%;
        height: 34%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .GitHub {
        display: inline-block;
        position: absolute;
        top: 5%;
        left: 25%;
        background-image: url("../../images/Social/gitHub.png");
        width: 17%;
        height: 13%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .GooglePlus {
        display: inline-block;
        position: absolute;
        top: 68%;
        left: 75%;
        background-image: url("../../images/Social/googlePlus.png");
        width: 17%;
        height: 14%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .LinkedIn {
        display: inline-block;
        position: absolute;
        top: 15%;
        left: 50%;
        background-image: url("../../images/Social/linkedIn.png");
        width: 13%;
        height: 10%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .Mail-Box {
        background-color: black;
        -ms-opacity: 0.8;
        opacity: 0.8;
        width: 23%;
        height: 40%;
        position: absolute;
        top: 30%;
        left: 5%;
        border: 2px solid;
        border-color: black;
        -ms-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 10px black;
        -ms-box-shadow: 0 0 10px black;
        box-shadow: 0 0 10px black;
        overflow: hidden;
    }

    .Mail {
        display: inline-block;
        position: absolute;
        top: 7%;
        left: 65%;
    }

    #TitleMail {
        position: absolute;
        margin: 0;
        top: 10%;
        left: 5%;
        font-family: "Trebuchet MS";
        font-style: normal;
        font-size: 20px;
        color: whitesmoke;
        overflow: hidden;
        -moz-text-overflow: ellipsis-word;
        text-overflow: ellipsis;
    }

    .MailMe {
        position: absolute;
        margin: 0;
        top: 35%;
        left: 5%;
    }

    .YouTube {
        display: inline-block;
        position: absolute;
        top: 17%;
        left: 75%;
        background-image: url("../../images/Social/youTube.png");
        width: 15%;
        height: 12%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .CoderBits {
        display: inline-block;
        position: absolute;
        top: 84%;
        left: 14%;
        background-image: url("../../images/Social/coderBits.png");
        width: 15%;
        height: 12%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .Blogger {
        display: inline-block;
        position: absolute;
        top: 42%;
        left: 10%;
        background-image: url("../../images/Social/Blogger.png");
        width: 13%;
        height: 11%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .share {
        position: relative;
        top: 3%;
        left: 65%;
    }
}
